In [4]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [5]:
df = pd.read_csv('2018WinterOlympics.csv')

In [6]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [10]:
trace1 = go.Bar(x=df['NOC'],y=df['Gold'],name='Gold',marker={'color':'#FFD700'})
trace2 = go.Bar(x=df['NOC'],y=df['Silver'],name='Silver',marker={'color':'#9EA0A1'})
trace3 = go.Bar(x=df['NOC'],y=df['Bronze'],name='Bronze',marker={'color':'#CD7F32'})
data = [trace1,trace2,trace3]
layout = go.Layout(title='Medals',barmode='stack')
fig = go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [11]:
df1 = pd.read_csv('mocksurvey.csv')

In [12]:
df1.head()

,Unnamed: 0,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [28]:
trace1 = go.Bar(y=df1['Unnamed: 0'],x=df1['Strongly Agree'],name='StrongA',marker={'color':'#FFD700'},orientation='h')
trace2 = go.Bar(y=df1['Unnamed: 0'],x=df1['Strongly Disagree'],name='StrongD',marker={'color':'#9EA0A1'},orientation='h')
trace3 = go.Bar(y=df1['Unnamed: 0'],x=df1['Somewhat Agree'],name='SomewhatA',marker={'color':'#CD7F32'},orientation='h')
trace4 = go.Bar(y=df1['Unnamed: 0'],x=df1['Somewhat Disagree'],name='SomewhatD',marker={'color':'#ABCD12'},orientation='h')
trace5 = go.Bar(y=df1['Unnamed: 0'],x=df1['Neutral'],name='Neutral',marker={'color':'#1FD12A'},orientation='h')

data = [trace1,trace2,trace3,trace4,trace5]
layout = go.Layout(title='Medals',barmode='stack')
fig = go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [30]:
df1.columns

Index(['Unnamed: 0', 'Strongly Agree', 'Somewhat Agree', 'Neutral',
       'Somewhat Disagree', 'Strongly Disagree'],
      dtype='object')