In [10]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [25]:
x3 = np.random.randn(200)-2
x1 = np.random.randn(200)+2
x2 = np.random.randn(200)+4
x4 = np.random.randn(200)

snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

In [26]:
hist_data = [snodgrass,twain]

In [27]:
group_labels = ['snodgrass','twain']

In [28]:
fig = ff.create_distplot(hist_data,group_labels,bin_size=[.005,.005])

In [29]:
pyo.plot(fig)

'temp-plot.html'

In [30]:
df = pd.read_csv('iris.csv')

In [31]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [36]:
df['petal_length'][df['class'] == 'Iris-setosa']

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
30    1.6
31    1.5
32    1.5
33    1.4
34    1.5
35    1.2
36    1.3
37    1.5
38    1.3
39    1.5
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    1.4
48    1.5
49    1.4
Name: petal_length, dtype: float64

In [51]:
group_labels = []
data = []
for c in df['class'].unique():
    group_labels.append(c)
    data.append(df['petal_length'][df['class'] == c])

In [56]:
fig = ff.create_distplot(data,group_labels,bin_size=[.5,.5,.5])

In [57]:
pyo.plot(fig)

'temp-plot.html'