In [22]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly import tools,subplots

In [2]:
df = pd.read_csv('2010SantaBarbaraCA.csv')

In [3]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [4]:
df.columns

Index(['LST_DATE', 'DAY', 'LST_TIME', 'T_HR_AVG'], dtype='object')

In [55]:
data = [go.Heatmap(x=df['DAY'],y=df['LST_TIME'],z=df['T_HR_AVG'].values.tolist(),colorscale='Jet')]

In [56]:
fig = go.Figure(data)

In [57]:
pyo.plot(fig)

'temp-plot.html'

In [15]:
df1 = pd.read_csv('2010SantaBarbaraCA.csv')
df2 = pd.read_csv('2010YumaAZ.csv')
df3 = pd.read_csv('2010SitkaAK.csv')

In [28]:
trace1 = go.Heatmap(x=df1['DAY'],y=df1['LST_TIME'],z=df1['T_HR_AVG'].values.tolist(),colorscale='Jet',zmin=5,zmax=40)
trace2 = go.Heatmap(x=df2['DAY'],y=df2['LST_TIME'],z=df2['T_HR_AVG'].values.tolist(),colorscale='Jet',zmin=5,zmax=40)
trace3 = go.Heatmap(x=df3['DAY'],y=df3['LST_TIME'],z=df3['T_HR_AVG'].values.tolist(),colorscale='Jet',zmin=5,zmax=40)

In [41]:
fig = tools.make_subplots(rows=1,cols=3,subplot_titles=['SB','AZ','AK'],shared_yaxes=True)

In [42]:
fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)
fig.append_trace(trace3,1,3)

In [44]:
fig['layout'].update(title='Temp for 3 cities')

Layout({
    'annotations': [{'font': {'size': 16},
                     'showarrow': False,
                     'text': 'SB',
                     'x': 0.14444444444444446,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'},
                    {'font': {'size': 16},
                     'showarrow': False,
                     'text': 'AZ',
                     'x': 0.5,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'},
                    {'font': {'size': 16},
                     'showarrow': False,
                     'text': 'AK',
                     'x': 0.8555555555555556,
                     'xanchor': 'center',
                     'xref': 'paper',
                     'y': 1.0,
                     'yanchor': 'bottom',
                     'yref': 'paper'}],
    'template': '...',
    'title': {'text': 'Temp for 3 cities'},
    'xaxis': {'anchor': 'y', 'domain': [0.0, 0.2888888888888889]},
    'xaxis2': {'anchor': 'y2', 'domain': [0.35555555555555557, 0.6444444444444445]},
    'xaxis3': {'anchor': 'y3', 'domain': [0.7111111111111111, 1.0]},
    'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0]},
    'yaxis2': {'anchor': 'x2', 'domain': [0.0, 1.0], 'matches': 'y', 'showticklabels': False},
    'yaxis3': {'anchor': 'x3', 'domain': [0.0, 1.0], 'matches': 'y', 'showticklabels': False}
})

In [45]:
pyo.plot(fig)

'temp-plot.html'

In [46]:
fl = pd.read_csv('flights.csv')

In [47]:
fl.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [58]:
data = [go.Heatmap(x=fl['year'],y=fl['month'],z=fl['passengers'])]

In [59]:
fig = go.Figure(data)
pyo.plot(fig)

'temp-plot.html'